.form-input-group {
	height: 65px;
}

form {
	width: 100%;

	h4 {
		line-height: 2;
		margin: 0 8px 8px 8px;
	}

	.form-control {
		width: 300px !important;
		margin: 0 8px;
	}

	.form-check {
		margin: 0 8px;
	}

	.btn {
		margin: 0 8px;
	}

	& > div:last-child {
		display: flex;
		justify-content: end;
		margin-bottom: 16px;
	}
}
